<!-- script -->
<script src="/js/script.js"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<footer>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facere, odit dignissimos ducimus quam distinctio illo adipisci perspiciatis, esse consequatur exercitationem, cupiditate praesentium amet commodi dolore necessitatibus maxime! Alias dicta exercitationem ratione.</p>
</footer>