<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/signin.css">

    <title>GBU | News homepage</title>

</head>
  <header>


        <nav>
            <!-- sidebar-nav -->
            <ul class="sidebar">
                <li class="menu-closed menu" onclick="hideSideBar()"><a href="#"><img
                            src="/images/icon-menu-close.svg" alt="close menu"></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#moreNews">New</a></li>
                <li><a href="">Popular</a></li>
                <li><a href="">Trending</a></li>
                <li><a href="">Categories</a></li>

            </ul>


            <!-- main-nav bra -->
            <ul class="navbar">
                <!-- Logo -->
                <li><img src="/images/logo.jpg" alt="World News logo" class="logo"></img> </li>
                <li class="hideOn-small-screen"><a href="#">Home</a></li>
                <li class="hideOn-small-screen"><a href="#moreNews">New</a></li>
                <li class="hideOn-small-screen"><a href="">Popular</a></li>
                <li class="hideOn-small-screen"><a href="">Trending</a></li>
                <li class="hideOn-small-screen"><a href="">Categories</a></li>
                <li class="menu-open menu" onclick="showSideBar()"><a href="#"><img src="/images/icon-menu.svg"
                            alt=""></a></li>
            </ul>
        </nav>
    </header>